body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:387px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:387px;
}
#u1 {
  position:absolute;
  left:2px;
  top:186px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:410px;
  width:320px;
  height:60px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
