<div class="page-index">
  <div class="w w_position z20">
    <div class="fr_banner">
      <div class="notice">
        <h6 class="notice_t">公告</h6>
        <ul class="notice_l">
          <li>
            [<a href="http://www.panli.com/news/List.aspx" target="_blank" style="color:#F30;">公告</a>]
            <a href="http://www.panli.com/news/Topic.aspx?nid=455" target="_self" title="Panli粉丝节结束 请等候发奖" style="">Panli粉丝节结束 请等候发奖</a></li>
          <li>
            [<a href="http://www.panli.com/Information/Detail.aspx?id=26" target="_blank" style="color:#F30;">分享</a>]
            <a href="http://www.panli.com/Information/Detail.aspx?id=26" target="_self" title="老司机带你玩转Panli代购" style="">老司机带你玩转Panli代购</a></li>
          <li>
            [<a href="http://www.panli.com/news/List.aspx" target="_blank" style="color:#F30;">公告</a>]
            <a href="http://www.panli.com/news/Topic.aspx?nid=444" target="_self" title="电池类和磁性商品暂停国际运送" style="">电池类和磁性商品暂停国际运送</a></li>
          <li>
            [<a href="http://www.panli.com/news/List.aspx" target="_blank" style="color:#F30;">公告</a>]
            <a href="http://www.panli.com/news/Topic.aspx?nid=411" target="_self" title="部分国家EMS延误通知" style="">部分国家EMS延误通知</a></li>
          <li>
            [<a href="http://www.panli.com/news/Topic.aspx?nid=369" target="_blank" style="color:#F30;">活动</a>]
            <a href="http://www.panli.com/news/Topic.aspx?nid=369" target="_self" title="邀请好友全新升级 番币赚不停" style="">邀请好友全新升级 番币赚不停</a></li>
          <li>
            [<a href="http://www.panli.com/comments/" target="_blank" style="color:#F30;">评价</a>]
            <a href="http://www.panli.com/comments/" target="_self" title="Panli到底好不好？您说的算~" style="">Panli到底好不好？您说的算~</a></li>
        </ul>
      </div>
      <div class="activity">
        <a href="http://www.panli.com/daigou" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635761105194100586.png" width="300" height="195"></a>
      </div>
    </div>
  </div>
  <div class="banner">
    <ul class="banenr_list">
      <li style="background: url(&quot;http://img.panlidns.com/CMS/Template/cb0fd667-9914-432e-a978-f6b7dcb9518e.gif&quot;) center center; z-index: 0; opacity: 0;">
        <a href="http://www.panli.com/Special/CommunityShow.aspx?source=top2_3" target="_blank"><img alt="" src="http://img.panlidns.com/CMS/Template/3776086a-2a79-44a4-a11b-3f23a46cdead.jpg" width="1200" height="460"></a>
      </li>
      <li style="background: url(&quot;http://img.panlidns.com/CMS/Template/a972bb66-a99b-411c-aad7-1c32e6344916.gif&quot;) center center; opacity: 1; z-index: 1;">
        <a href="http://www.panli.com/Special/Topic.aspx?id=350&amp;source=top2_3" target="_blank"><img alt="" src="http://img.panlidns.com/CMS/Template/caece1ac-40ab-4910-b4f1-85299934a549.jpg" width="1200" height="460"></a>
      </li>
      <li style="background: url(&quot;http://img.panlidns.com/CMS/Template/489ad108-1367-4343-9f37-7fe22b44c05e.gif&quot;) center center; opacity: 0; z-index: 0;">
        <a href="http://www.panli.com/Special/DutyFree.html?source=top2_3" target="_blank"><img alt="" src="http://img.panlidns.com/CMS/Template/37310703-a3ea-49f3-88ae-6669fcb3e7e9.jpg" width="1200" height="460"></a>
      </li>
      <li style="background: url(&quot;http://img.panlidns.com/CMS/Template/18e27df6-834b-4f98-821a-92407756013c.gif&quot;) center center; opacity: 0; z-index: 0;">
        <a href="http://www.panli.com/Special/DeliverTogether201609.html?source=top2_3" target="_blank"><img alt="" src="http://img.panlidns.com/CMS/Template/da48c14a-f0c3-4a23-b8b6-d7b2143d4d20.jpg" width="1200" height="460"></a>
      </li>
    </ul>
    <div class="w w_position">
      <div class="banenr_dot"><span class="">&nbsp;</span> <span class="on">&nbsp;</span> <span class="">&nbsp;</span> <span class="">&nbsp;</span> </div>
      <span class="banner_f_l"></span>
      <span class="banner_f_r"></span>
    </div>
  </div>

  <div class="w overflow_h">
    <h6 class="title_item title_item_mb5">小编推荐</h6>
    <div class="referr">
      <div class="fl size2-2">
        <a href="http://www.panli.com/Special/Topic.aspx?id=449" class="fl img2-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332256111127874.jpg" title="国货当自强"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Special/Topic.aspx?id=448" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332256308409158.jpg" title="显瘦阔腿裤"></a>
        <a href="http://www.panli.com/Special/Topic.aspx?id=447" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636324518034554973.jpg" title="童趣利器"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Special/Topic.aspx?id=444" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636294077351615086.jpg" title="好书推荐"></a>
        <a href="http://www.panli.com/Special/panlisale.aspx" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636244803271817481.jpg" title="特卖"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/news/Topic.aspx?nid=383" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636257732914941176.jpg" title="折扣情报站"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Free_postage/" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635925339335095755.jpg" title="购物网站推荐"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://kr.shishangqiyi.com/event2/11years.asp?sex=F" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636319210173902496.jpg" title="时尚起义"></a>
        <a href="http://t.yhd.com/?tc=0.0.12.2704_41683096_3.11&amp;tp=1.1.16.0.3.L`6AX09-10-91Ns6&amp;ti=RZMMlX" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636174962914853981.jpg" title="1号店"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://616.mogujie.com/index" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636329591224074816.jpg" title="蘑菇街"></a>
        <a href="http://act.meilishuo.com/shangbanchujiequangaoding" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636313056131531790.jpg" title="美丽说"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.vip.com/171" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636329591311159797.jpg" title="唯品会"></a>
        <a href="http://book.dangdang.com/20170609_55tc" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636329591450737781.jpg" title="当当网"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://sale.jd.com/act/XUh2CDEPdI6YuzZf.html?cpdad=1DLSUE" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636314968439507643.jpg" title="京东"></a>
        <a href="https://www.amazon.cn/b?_encoding=UTF8&amp;field-enc-merchantbin=A1AJ19PSB66TGU&amp;node=1896655071" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636329591378543651.jpg" title="亚马逊"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Special/Topic.aspx?id=358" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635910391879648679.jpg" title="穿美衣"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553065291814" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332306354641639.jpg" title="字母印花拼网眼长T恤"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553368221914" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332307166578079.jpg" title="甜美一字领荷叶边上衣"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D552627544339" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332307539559412.jpg" title="小清新卷边阔腿短裤"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D550400117485" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332308027177303.jpg" title="甜美蕾丝无袖吊带背心"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Special/Topic.aspx?id=350" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635910392757918913.jpg" title="吃不厌"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D550185094185" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332308488523690.jpg" title="麻辣红油泡椒金针菇"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D525569188028" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332308994402625.jpg" title="马来西亚芝士夹心饼干"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D551784671802" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332309308400584.jpg" title="纯手工水果片干茶花"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D536194854708" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332309627198819.jpg" title="狮王LION口气清新剂"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Special/Topic.aspx?id=365" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635910393303250104.jpg" title="爱居家"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D550757346910" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332310093305478.jpg" title="韩国pororo驱蚊扣"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553017327934" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332310413903816.jpg" title="不锈钢冰淇淋造型分割器"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D44613857606" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332310787105161.jpg" title="智能简易手机投影仪"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D5935981935" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332311548168692.jpg" title="手动家用便携榨汁机"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Special/Topic.aspx?id=360" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635910398491536857.jpg" title="靓鞋包"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553413959466" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332312577687577.jpg" title="鞋带信封斜跨小包"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553315961500" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332312928227627.jpg" title="高跟一字扣罗马凉鞋"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553422911458" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332313258876539.jpg" title="休闲草编马鞍包"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553331561154" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332313552163314.jpg" title="一字式手工花朵平底鞋"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Special/Topic.aspx?id=348" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635931325995593628.jpg" title="配饰"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553184685106" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332314319487202.jpg" title="原宿风海洋片墨镜"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553241904920" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332314652176231.jpg" title="蕾丝花朵珍珠项链"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553217764473" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332314947323112.jpg" title="气质水钻花朵发绳"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553010307201" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332315257320843.jpg" title="笑脸表情可爱耳环"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Special/Topic.aspx?id=391" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635924354555579085.jpg" title="妆迷人"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553172744800" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332315597170281.jpg" title="珂颜堂椰子卸妆膏"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D553250448167" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332315910598208.jpg" title="LG按压式液体牙膏"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D552979075340" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332316235896814.jpg" title="水宝宝防水清爽防晒霜"></a>
      </div>
      <div class="fl size1-2">
        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D549203934679" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636332316537684076.jpg" title="珂颜堂牛奶润肤护手膜"></a>
      </div>
    </div>
  </div>

  <div class="w">
    <h6 class="title_item">Panli 故事</h6>
    <div class="fl story">
      <ul>
        <li>
          <a href="http://www.panli.com/Information/Detail.aspx?id=26" class="story_img" title="老司机带你玩转Panli代购" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/636304553758943428.jpg" alt="老司机带你玩转Panli代购"></a><a href="http://www.panli.com/Information/Detail.aspx?id=26" class="story_name" title="老司机带你玩转Panli代购" target="_self">老司机带你玩转Panli代购</a></li>
        <li>
          <a href="http://www.panli.com/Information/Manifesto.aspx" class="story_img" title="揭秘：Panli包裹诞生记" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635761096618460087.jpg" alt="揭秘：Panli包裹诞生记"></a><a href="http://www.panli.com/Information/Manifesto.aspx" class="story_name" title="揭秘：Panli包裹诞生记" target="_self">揭秘：Panli包裹诞生记</a></li>
        <li>
          <a href="http://www.panli.com/Information/Detail.aspx?id=19" class="story_img" title="带你走进Panli" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635961531111959791.jpg" alt="带你走进Panli"></a><a href="http://www.panli.com/Information/Detail.aspx?id=19" class="story_name" title="带你走进Panli" target="_self">带你走进Panli</a></li>
      </ul>
    </div>
    <div class="fr comment">
      <p class="comment_top">
        <span class="fl comment_h">会员评价</span>
        <a class="fr comment_more" href="http://www.panli.com/comments" target="_blank">更多&gt;&gt;</a>
      </p>
      <ul class="comment_list" onclick="location.href='http://www.panli.com/comments'">

        <li>
          <span class="fl mess_user_img">
                        <img src="http://sf.panli.com/FrontEnd/images20090801/NewIndex/New/none.png" onerror="this.src='http://sf.panli.com/FrontEnd/images20090801/NewIndex/New/none.png';"><i></i>
                    </span>
          <div class="fl comment_c">
            <span class="mess_content"> 超快的收到包裹了！代购服务也很快便完成！</span>
            <p class="mess_country"><span class="fl">来自瑞士</span><span class="fr">今天
                                </span>
            </p>
          </div>
        </li>

        <li>
          <span class="fl mess_user_img">
                        <img src="http://img.panlidns.com/CMS/Faces/b/20176/e8350165-f535-48a1-b8eb-92ab5dbaedef.jpg" onerror="this.src='http://sf.panli.com/FrontEnd/images20090801/NewIndex/New/none.png';"><i></i>
                    </span>
          <div class="fl comment_c">
            <span class="mess_content">特惠专线不错。大概10天收到。价格相对便宜些。不...</span>
            <p class="mess_country"><span class="fl">来自加拿大</span><span class="fr">今天
                                </span>
            </p>
          </div>
        </li>

        <li>
          <span class="fl mess_user_img">
                        <img src="http://img.panlidns.com/CMS/Faces/b/20164/f860818d-2963-4841-a208-84c40e702f74.jpg" onerror="this.src='http://sf.panli.com/FrontEnd/images20090801/NewIndex/New/none.png';"><i></i>
                    </span>
          <div class="fl comment_c">
            <span class="mess_content">包裹收到，包装严实，东西一样不少。满意！</span>
            <p class="mess_country"><span class="fl">来自新西兰</span><span class="fr">昨天
                                </span>
            </p>
          </div>
        </li>

      </ul>
    </div>
    <div class="cb"></div>
  </div>
</div>