<div class="page-index">
    <div class="w por z20">
            <div class="fr_banner">
                <div class="notice">
                    <h6 class="notice_t">公告</h6>
                    <ul class="notice_l">
                        <li>
                            [<a href="http://www.panli.com/Special/panlisale.aspx" target="_blank" style="color:#F30;">特卖</a>]
                            <a href="http://www.panli.com/Special/panlisale.aspx" target="_self" title="有新品！来抢2015热卖好货" style="color:red">有新品！来抢2015热卖好货</a></li>
                        <li>
                            [<a href="http://www.panli.com/news/List.aspx" target="_blank" style="color:#F30;">公告</a>]
                            <a href="http://www.panli.com/news/Topic.aspx?nid=345" target="_self" title="Panli圣诞狂欢 惊喜三重礼" style="">Panli圣诞狂欢 惊喜三重礼</a></li>
                        <li>
                            [<a href="http://www.panli.com/Discount/Detail.aspx?nid=2807" target="_blank" style="color:#F30;">折扣</a>]
                            <a href="http://www.panli.com/Discount/Detail.aspx?nid=2807" target="_self" title="环球圣诞节 购物大清单" style="">环球圣诞节 购物大清单</a></li>
                        <li>
                            [<a href="http://tuan.panli.com/" target="_blank" style="color:#F30;">团购</a>]
                            <a href="http://tuan.panli.com/" target="_self" title="一起来买 海外华人的聚划算" style="">一起来买 海外华人的聚划算</a></li>
                        <li>
                            [<a href="http://www.panli.com/Piece/" target="_blank" style="color:#F30;">拼单</a>]
                            <a href="http://www.panli.com/Piece/" target="_self" title="跟着下单 国内运费全免" style="">跟着下单 国内运费全免</a></li>
                        <li>
                            [<a href="http://bbs.panli.com/forum41/thread-38212-1-1.aspx" target="_blank" style="color:#F30;">社区</a>]
                            <a href="http://bbs.panli.com/forum41/thread-38212-1-1.aspx" target="_self" title="App社区上线啦！快抢地盘~" style="">App社区上线啦！快抢地盘~</a></li>
                    </ul>
                </div>
                <div class="activity">
                    <a href="http://www.panli.com/daigou/" target="_blank"><img src="http://172.20.7.232:8010/cms/bianjiImage/cImg/635762652992031250.png" width="300" height="195" /></a>
                </div>
            </div>
        </div>

        <div class="banner">
                <ul class="banenr_list">
                    <li style="background:url(http://172.20.7.232:8010/cms/Template/834efbdd-a2de-43ef-a76b-e00105ff67c4.gif) center center">
                        <a href="https://www.tmall.com/wh/tmall/act/14643/qqsf?spm=a21bo.7724922.8459-3.1.qfEb4t&amp;acm=tt-1097039-36357-1.1003.2.383440&amp;aldid=zZztgrdj&amp;scm=1003.2.tt-1097039-36357-1.OTHER_1437847152379_383440&amp;pos=1" target="_blank"><img alt="" src="http://172.20.7.232:8010/cms/Template/3bc4efda-355c-42b6-8453-4990f52c8451.jpg" width="1200" height="460" /></a>
                    </li>
                    <li style="background:url(http://172.20.7.232:8010/cms/Template/9a6a7458-04d8-4cef-b730-a9ee2425b4ee.gif) center center">
                        <a href="http://www.panli.com/Information/" target="_blank"><img alt="" src="http://172.20.7.232:8010/cms/Template/726e3e40-11c9-4e05-a4b2-94c0bdae0623.jpg" width="1200" height="460" /></a>
                    </li>
                </ul>
                <div class="w por">
                    <div class="banenr_dot">

                    </div>
                    <span class="banner_f_l"></span>
                    <span class="banner_f_r"></span>
                </div>
        </div>

        <div class="w overflow_h">
            <h6 class="title_item title_item_mb5">小编推荐</h6>
            <div class="referr">
                <div class="referr">
                    <div class="fl size2-2">
                        <a href="http://www.panli.com/Special/SpringFestival1223.html" class="fl img2-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635864852076347343.jpg" title="备年货"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D45687902909" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635815584910011614.png" title="天天9块9"></a>
                        <a href="http://tuan.panli.com/Detail/19403.html" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635864869759078737.jpg" title="团购"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=https%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D521606979981" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635835415069934131.jpg" title="本周爆款"></a>
                        <a href="http://www.panli.com/Special/christmasred.html" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635864852383364903.jpg" title="圣诞女神"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Special/invite.aspx" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635762696994486952.jpg" title="邀请好友 拿千万红包"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="https://chi.taobao.com/chi/?spm=a21bo.7723600.8222.3.WUcoqA" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635815650554306253.jpg" title="我要吃"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D520075338280" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854523308014496.jpg" title="螺蛳粉"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fchaoshi.detail.tmall.com%2Fitem.htm%3Fid%3D12549908523" class="fl img1-1"
                            target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854524379625789.jpg" title="张君雅巧克力圈"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D41136396824" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854524839232077.jpg" title="肥肠酸辣粉"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fchaoshi.detail.tmall.com%2Fitem.htm%3Fid%3D39989306751" class="fl img1-1"
                            target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854525310689042.jpg" title="牛轧糖饼干"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D42218692973" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854525636537680.jpg" title="部队锅"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fchaoshi.detail.tmall.com%2Fitem.htm%3Fid%3D36881361911" class="fl img1-1"
                            target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854526452084327.jpg" title="绿豆麻薯"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fchaoshi.detail.tmall.com%2Fitem.htm%3Fid%3D521513221542" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854526839766501.jpg" title="菠菜蛋花汤"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fchaoshi.detail.tmall.com%2Fitem.htm%3Fid%3D44976564254" class="fl img1-1"
                            target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854527263810755.jpg" title="蜂蜜柚子茶"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="https://www.taobao.com/markets/youjia/baihuo?spm=a21bo.7723600.8570.1.WUcoqA" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635815655682939594.jpg" title="我要宅"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D524631343218" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854527706036048.jpg" title="窗花静电贴"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D520548394566" class="fl img1-1"
                            target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854528172582733.jpg" title="年货食盒"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D43147871740" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854528775247204.jpg" title="各色灯笼"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D20105989709" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854529054553179.jpg" title="小羊拖鞋"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D523257370217" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854529492258215.jpg" title="门贴"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D522990808946" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854529819466930.jpg" title="暖手宝"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D43385825919" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854530171767080.jpg" title="中国节"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D521158306515" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854530551718812.jpg" title="娃娃音乐盒"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="https://q.taobao.com/?spm=a21bo.7723600.8222.4.B5QcFj" class="fl img1-2" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635815658960887082.jpg" title="我要美"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D42032952430" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854530952811753.jpg" title="轻薄羽绒"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D523931814066" class="fl img1-1"
                            target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854531314362433.jpg" title="百搭旗袍"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D522696896372" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854531884915067.jpg" title="加绒打底衫"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D522658593157" class="fl img1-1"
                            target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854532238465289.jpg" title="珍珠毛领毛衣"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D523768402061" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854532600275983.jpg" title="针织连衣裙"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fdetail.tmall.com%2Fitem.htm%3Fid%3D40319531542" class="fl img1-1"
                            target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854533055031994.jpg" title="棒球服"></a>
                    </div>
                    <div class="fl size1-2">
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D521537939206" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854533309916572.jpg" title="男马甲"></a>
                        <a href="http://www.panli.com/Crawler.aspx?purl=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D523976926715" class="fl img1-1" target="_blank"><img src="http://img.panlidns.com/CMS/bianjiImage/cImg/635854533620604342.jpg" title="男士呢子大衣"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w">
            <h6 class="title_item">Panli 故事</h6>
            <div class="fl story">
                <ul>
                    <li>
                        <a href="http://www.panli.com/Information/Manifesto.aspx" class="story_img" title="" target="_blank"><img src="http://172.20.7.232:8010/cms/bianjiImage/cImg/635762657934746094.jpg" alt="" /></a><a href="http://www.panli.com/Information/Manifesto.aspx" class="story_name" title="揭秘：Panli包裹诞生记" target="_blank">揭秘：Panli包裹诞生记</a></li>
                    <li>
                        <a href="http://www.panli.com/Information/" class="story_img" title="" target="_blank"><img src="http://172.20.7.232:8010/cms/bianjiImage/cImg/635762657967246094.jpg" alt="" /></a><a href="http://www.panli.com/Information/" class="story_name" title="Panli十年 感谢有您" target="_blank">Panli十年 感谢有您</a></li>
                    <li>
                        <a href="http://www.panli.com/Information/Detail.aspx?id=13" class="story_img" title="" target="_blank"><img src="http://172.20.7.232:8010/cms/bianjiImage/cImg/635762658003652344.jpg" alt="" /></a><a href="http://www.panli.com/Information/Detail.aspx?id=13" class="story_name" title="《左耳》男神女神现身Panli" target="_blank">《左耳》男神女神现身Panli</a></li>
                </ul>
            </div>
            <div class="fr comment">
                <p class="comment_top">
                    <span class="fl comment_h">会员评价</span>
                    <a class="fr comment_more" href="http://www.panli.com/comments" target="_blank">更多>></a>
                </p>
                <ul class="comment_list" onclick="location.href='http://www.panli.com/comments'">

                    <li>
                        <span class="fl mess_user_img">
                    <img src="http://172.20.7.232:8010/CMS/Faces/b/20159/e4e63a25-8350-4fcf-9817-e7e8a5f458c1.jpg"  onerror="this.src='http://sf.panli.com/FrontEnd/images20090801/NewIndex/New/none.png';" /><i></i>
                </span>
                        <div class="fl comment_c">
                            <span class="mess_content">非常赞</span>
                            <p class="mess_country"><span class="fl">来自澳大利亚</span><span class="fr">昨天
                            </span></p>
                        </div>
                    </li>

                    <li>
                        <span class="fl mess_user_img">
                    <img src="http://172.20.7.232:8010/CMS/Faces/b/20159/e4e63a25-8350-4fcf-9817-e7e8a5f458c1.jpg"  onerror="this.src='http://sf.panli.com/FrontEnd/images20090801/NewIndex/New/none.png';" /><i></i>
                </span>
                        <div class="fl comment_c">
                            <span class="mess_content">可以</span>
                            <p class="mess_country"><span class="fl">来自澳大利亚</span><span class="fr">昨天
                            </span></p>
                        </div>
                    </li>

                    <li>
                        <span class="fl mess_user_img">
                    <img src="http://172.20.7.232:8010/CMS/Faces/b/20158/3b343912-763d-4cbe-bfa1-1510479efadf.jpg"  onerror="this.src='http://sf.panli.com/FrontEnd/images20090801/NewIndex/New/none.png';" /><i></i>
                </span>
                        <div class="fl comment_c">
                            <span class="mess_content">kanakananakankadnakn</span>
                            <p class="mess_country"><span class="fl">来自中国大陆江浙沪皖</span><span class="fr">昨天
                            </span></p>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="cb"></div>
        </div>
</div>
<script type="text/javascript" src="http://sf.panli.com/FrontEnd/js20090801/NewIndex/banner.js"></script>