.double-logo-wrap{
    // position: relative;
    overflow:initial;
    width: 380px;
    &>a{
        // display: none;
    }
    .double-logo-content{
        position: absolute;
        width: 225px;
        height: 92px;
        left: 154px; 
        top: -25px;
        background-repeat: no-repeat;
        background-position: left center;
        &.one-src{       
            background-image: url(../imgs/double11.gif)
        }
        &.time-src{
            background-image: url(../imgs/time.png)
        }
        
    }
}