.footer {
	margin-top:33px;
	overflow:hidden;
	padding-bottom:10px;
}
.service_l {
	margin-top:15px;
	border-bottom:solid 1px #ddd;
	padding-bottom:20px;
}
.service_l dl {
	width:150px;
}
.service_l dl dt {
	font-size:14px;
	color:#444;
	line-height:100%;
	margin-bottom:15px;
}
.service_l dl dd {
	margin-top:10px;
	line-height:100%;
}
.service_l dl dd a {
	text-decoration:none;
	color:#999;
	font-size:12px;
}
.two_code {
	text-align:center;
	width:100px;
	span {
		display:block;
		font-size:14px;
		line-height:100%;
		margin-bottom:10px;
		color:#444;
	}
	img{
		width: 99px;
		height: 99px;
	}
}

.code_margin {
	margin-right:80px;
	display:inline;
}
.footer_nav a {
	display:block;
	float:left;
	line-height:100%;
	margin:20px 50px 20px 0;
	font-size:14px;
	color:#999;
	text-decoration:none;
}
.copyright {
	font-size:12px;
	color:#999;
}
.authentication {
	height:56px;
	background:url(../images/authentication.jpg) no-repeat;
	margin-top:5px;
	position:relative;
}
.links {
	margin:5px 0;
	font-size:12px;
	color:#999;
	a {
		text-decoration:none;
		color:#999;
		padding-right:8px;
	}
}

.ft_panli_about {
	font-size:12px;
	color:#999;
	line-height:20px;
	margin-top:10px;
}
.icon_r_navjy_h {
	padding-top:0px;
}
.icon_code_h {
	width:121px;
	height:121px;
	position:absolute;
	left:-121px;
	top:-1px;
	overflow:hidden;
	display:none;
}
.icon_code_p {
	background:url(http://sf.panli.com/Ued/pc/footer/images/appcode.png) no-repeat center;
	background-size: 103px;
	width:119px;
	height:119px;
	left:121px;
	top:0px;
	border:solid 1px #ddd;
	position:absolute;
	background-color:#f8f8f8;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://sf.panli.com/Ued/pc/footer/images/appcode.png',sizingMethod='scale');
}


.one_text {
	text-align:center;
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}
.none {
	display:none;
}
.gerenc {
	position:absolute;
	left:0px;
	top:0px;
}
.authentication_a1 {
	position:absolute;
	height:45px;
	width:146px;
	display:block;
	left:600px;
}
.authentication_a2 {
	position:absolute;
	height:45px;
	width:60px;
	display:block;
	left:780px;
}
.authentication_a3 {
	position:absolute;
	height:45px;
	width:60px;
	display:block;
	left:870px;
}
.appDown{
	position: fixed;
	height: 150px;
	width: 100%;
	bottom: 0;
	left: 0px;
	z-index: 999;
	background: rgba(255, 255, 255,.88);
	// background: red;
	line-height: 150px;
	font-size: 39px;
	color: #ff6e6e;
	.s1{
		display: inline-block;
		text-indent: 200px;
	}
	.downLogo{
		position: absolute;
		
		left: 42px;
		width: 136px;
		height: 136px;
		bottom: 30px;
		background: url(../images/0531.png) no-repeat center center;
		background-size: cover;
	}
	a{
		text-decoration: none;
		color: #ff6e6e;
		display: block;
		width: 100%;
		// background: #ff6e6e
	}
	.down{
		display: inline-block;
		position: absolute;
		top: 50%;
		margin-top: -46px;
		// bottom: 34px;
		height: 93px;
		line-height: 93px;
		width: 230px;
		text-align: center;
		border-radius: 5px;
		background: #ff6e6e;
		color: #FFF;
		right: 42px;
	}
	.Downclose{
		display: inline-block;
		// background-color: #ff6e6e;
		font-size: 50px;
		text-align: center;
		width: 80px;
		position: absolute;
		right: 0px;
	}
}