$ripplems-default-color: rgba(255, 255, 255, 0.2);
$ripplems-dark-color: rgba(255, 255, 250, 0.2);

.ripplems-ink {
  position: absolute;
  background: $ripplems-default-color;
  border-radius: 100%;
  transform: scale(0);
  z-index: 10;
}

.ripplems-dark .ripplems-ink {
  background: $ripplems-dark-color;
}

@keyframes ripplems {
  100% {opacity: 0; transform: scale(2.5);}
}
