.winners-wrap{
   padding: pxTorem(30);
   
}
.winners-title{
    height: pxTorem(34);
    background: url(../images/xian.png);
    background-size: contain;
    margin-bottom: pxTorem(34);
    
}


.winners-list{
    background:#6f3fba;
    // height: pxTorem(600);

    ul{
       padding: pxTorem(16) pxTorem(26); 
       li{
           font-size: pxTorem(24);
           padding: pxTorem(14);
        //     padding: 0 pxTorem(14);
        //    height: pxTorem(60);
        //    line-height: pxTorem(60);
           border-bottom: 2px dotted #8a4ee6;
           transition: 1s;
           .name{
               color:#ffe400;
           }
           .wupin{
               color:#ff6666;
           }
           .text-info{
               display: inline-block;
           }
           .la-time{
               float: right;
              
           }
           &:last-child{
               border-bottom:none;
           }
       }
    }
}